
.text-white {
    color: white;
}

.card {
    background: linear-gradient(to right, #344872, #021949);
    border: none;
    border-radius: 10px;
}
/* Optional: Adjust button size if needed */
.btn {
    padding: .5rem 1rem; /* Adjust padding if necessary */
    font-size: 1rem; /* Adjust font size if necessary */
}
