.ErrorMessage {
    color: red;
}

.custom-select {
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
}

.style {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.custom{
    background: linear-gradient(to right, #4b6cb7, #182848);
    transition: background 0.5s ease; 
}
.custom:hover {
    background: linear-gradient(to right, #182848, #4b6cb7);
   
}
a{
    text-decoration: none;
    color: #fff;
}