    .row {
    display: flex;
    justify-content: space-between;
  }
  
  .section {
    text-align: center;
    padding: 10px;
    border-left: 1px solid #ccc; /* Vertical line between sections */
  }
  
  .section:first-child {
    border-left: none; /* Remove left border from the first section */
  }
  
  .icon-container {
    background-color: #f8f9fa; /* Light background color for the icon */
    border-radius: 50%;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
  }
  
  .icon-container i {
    font-size: 24px; /* Adjust icon size */
    color: #212529; /* Icon color */
  }
  
  h5 {
    margin-top: 10px;
    font-size: 16px;
    /* font-weight: bold; */
  }
  