<div class="container">
    <div class="row">
      <div class="col-md-3 section">
        <div class="icon-container">
          <i class="fas fa-piggy-bank"></i>
        </div>
        <h5>No Initial Deposit</h5>
      </div>
      <div class="col-md-3 section">
        <div class="icon-container">
          <i class="fas fa-fingerprint"></i>
        </div>
        <h5>Digital Account Opening<br>Biometric at ATM</h5>
      </div>
      <div class="col-md-3 section">
        <div class="icon-container">
          <i class="fas fa-wallet"></i>
        </div>
        <h5>No Minimum Balance<br>Requirement</h5>
      </div>
      <div class="col-md-3 section">
        <div class="icon-container">
          <i class="fas fa-clock"></i>
        </div>
        <h5>24/7 Banking with<br>UBL Digital App & Netbanking</h5>
      </div>
    </div>
  </div>
  