<div class="container py-5 mt-5">
    <div class="text-content">
        <div class="icon mb-3">
            <i class="bi bi-shield-fill"></i>
        </div>
        <h1 class="main-heading">When we say ‘Digital’</h1>
        <h2 class="highlight">we mean it.</h2>
        <div class="underline mb-3"></div>
        <p class="description">Online account opening made easier than ever with Bits-Bank Digital Account.</p>
        <button class="btn btn-secondary mt-4"> <span>Join Now</span> </button>
    </div>

    <div class="lottie-section">
        <lottie-player src="https://lottie.host/c60e12f5-9c57-4ab3-93d3-108dc342dc2f/rdNDjwBghp.json" background="" speed="1" style="width: 500px; height: 500px;" loop autoplay>
        </lottie-player>
    </div>
</div>

<div class="line mb-2"></div>

<a href="#home" class="home-button">
  <i class="fas fa-home"></i>
</a>
