<div class="container text-center p-featured-container">
    <h2 class="mb-3 featured-heading">Featured Services</h2>
    <p class="mb-4 featured-description mx-auto">
      With a customer base of over 10 million customers — UBL is at the forefront of the banking and financial services sector in Pakistan.
    </p>
    <div class="row justify-content-center">
      <div class="col-md-5 col-lg-4 mb-4">
        <div class="card shadow-sm">
            <div class="im mb-2">
             <img src="../../../assets/credit-card.jpg" class="img-custom" alt="Credit Cards">
            </div>
          <div class="card-body">
            <h5 class="card-title">Credit Cards</h5>
            <p class="card-text mb-2">
              We offer you a range of innovative and exciting range of credit cards that are powered by chip; proven to be the most secure way of conducting all your transactions.
            </p>
            <button class="btn btn-primary btn-lg">Read More<i class="bi bi-arrow-right"></i></button>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-lg-4 mb-4">
        <div class="card shadow-sm">
            <div class="im">
                <img src="../../../assets/consumer-loan.jpg" class="img-custom" alt="Consumer Loans">
            </div>
          <div class="card-body">
            <h5 class="card-title">Consumer Loans</h5>
            <p class="card-text">
              Thinking of buying a brand new car, planning to purchase a house for yourself or looking to fund your child's education, we are here to serve all your financial needs.
            </p>
            <button class="btn btn-primary btn-lg">Read More<i class="bi bi-arrow-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  