<div class="row align-items-center section">
  <div class="col-lg-6 col-md-12 content">
    <h2>Welcome to Business Accounts</h2>
    <p>Discover the exclusive benefits and features of opening a business account.</p>
    <button class="btn btn-secondary">
      <span>Register Now</span>
    </button>
  </div>
  <div class="col-lg-6 col-md-12 lottie">
    <lottie-player src="https://lottie.host/f8bcc3b3-5eee-4c84-b12d-336b66adecb6/1DghzLQwlN.json" background="##FFFFFF" speed="1" style="width: 100%; height: auto" loop autoplay direction="1" mode="normal"></lottie-player>
  </div>
</div>

<a href="#home" class="home-button">
  <i class="fas fa-home"></i>
</a>
