<div class="container py-5">
    <div class="row align-items-center">
      <div class="col-lg-5 text-center">
        <img src="../../../assets/current account.webp" class="img-fluid feature-image" alt="Feature Image">
      </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-5">
        <h2 class="features-heading">Features of Current Account</h2>
        <ul class="features-list">
          <li>No limit on the number of transactions</li>
          <li>Overdraft facility</li>
          <li>Easy fund transfer options</li>
          <li>Free cheque books</li>
        </ul>
      </div>
    </div>
    <div class="line mt-5"></div>
  </div>