.freelancer-page {
    position: relative;
    height: 100vh;
    color: #fff;
}

.freelancer-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../../assets/freelancer2') no-repeat center top 4rem fixed;
    background-size: cover; 
    filter: blur(5px);
    z-index: -1;
}

.freelancer-page h1, .freelancer-page h3 {
    font-family: "DM Serif Text", serif;
    color: black;
    position: relative;
    z-index: 2;
}

.p {
    font-weight: 300;
    font-size: xx-large;
}

.home-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #c4c6c4;
    color: white;
    padding: 15px;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #9ca29c;
    text-decoration: none;
}

.home-button i {
    font-size: 24px;
}
