<div class="freelancer-page">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-6 d-flex row justify-content-between">
        <div>
          <h1 class="display-3">Freelancer Account</h1>
          <h3 class="mt-2">U DO U! KHUD KI SUNO</h3>
          <p class="lead mt-2 text-black" style="font-weight: 400;">
            A dedicated product that offers lifestyle banking to Freelancers. The product offers a full range of personalized features to empower you financially and provide greater freedom, convenience, and flexibility in your remote income earning journey.
          </p>
          <div class="mt-2">
            <button class="btn btn-primary">Apply Now</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-none d-lg-block"></div>
    </div>
  </div>
  
  <a href="#home" class="home-button">
    <i class="fas fa-home"></i> 
  </a>
</div>
