<div class="row testimonial-section">
    <div class="col-lg-6 col-md-12 text-container">
      <h3>What Our Clients Say</h3>
      <p>"The business account has streamlined our financial processes and given us unparalleled access to online banking services."</p>
      <p>"The support team is excellent, always ready to help with any issues."</p>
    </div>
    <div class="col-lg-6 col-md-12 animation-container">
      <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_tutvdkg0.json" background="transparent" speed="1" loop autoplay></lottie-player>
    </div>
  </div>
  