<div class="container text-center">
    <div class="icon">
      <i class="bi bi-star-fill" style="font-size: 4rem; color: #5b5555;"></i>
    </div>
  
    <h2 class="display-4 my-3 " style="color: #5b5555; font-weight: 600;
  font-size: 3rem;">Our Product</h2>
  
    <p class="lead mb-5" style="color: #5b5555; ">Axis Banking service is designed to meet the highest expectations of our clients; wherever they may be.</p>
  
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100 zoom">
          <img src="../../assets/overdrafting.jpg" class="card-img-top zoom-img" alt="Mukammal Current Account">
          <div class="card-body">
            <h5 class="card-title">Current Account</h5>
            <p class="card-text">Axis Current account offers a range of benefits and free services allowing transactional flexibility to the modern-day customer </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100 zoom">
          <img src="../../assets/installment02.png" class="card-img-top zoom-img" alt="Lite Installment Plan">
          <div class="card-body">
            <h5 class="card-title">Lite Installment Plan</h5>
            <p class="card-text">With Axis Credit Card range, avail the best products from top quality brands on installment of up to a 36 month period, with a special offer of 0% markup for up to 6 months .</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100 zoom">
          <img src="../../assets/loans.webp" class="card-img-top zoom-img" alt="Loans Cash Plus">
          <div class="card-body">
            <h5 class="card-title">Loans Cash Plus</h5>
            <p class="card-text">Designed for salaried individuals of companies maintaining payroll relationship with Axis, CashPlus offers a variety of flexible and unique term loan financing products.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100 zoom">
          <img src="../../assets/rewards.webp" class="card-img-top zoom-img" alt="Rewards Program">
          <div class="card-body">
            <h5 class="card-title">Rewards Program</h5>
            <p class="card-text">With Axis Classic Rewards, spend anywhere to avail redeemable award  points and opt  for cashback </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  