<div class="container margin-top"> 
  <div class="row">
    <div class="col-12 d-flex justify-content-between my-3">
      <h2>Transactions</h2>
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary me-2 btn-sm" (click)="toggleFilterVisibility()">
          {{ isFilterVisible ? 'Hide Filter' : 'Show Filter' }}
        </button>
        <button type="button" class="btn btn-primary btn-sm me-2" routerLink="/log-book">Send Money</button>
        <button (click)="downloadPDF()" class="btn btn-primary btn-sm">Download as PDF</button>
      </div>
    </div>
  </div>

  <div class="row mb-3" *ngIf="isFilterVisible">
    <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" autocomplete="off" class="col-lg-12">
      <div class="row">
        <div class="form-group col-lg-2" style="position: relative;">
          <label for="startDate" style="position: absolute; top: -25px; margin-bottom: 5px; margin-left: 3px;">Start Date :</label>
          <input id="startDate" type="date" class="form-control" formControlName="startDate" placeholder="Date">
        </div>
        <div class="form-group col-lg-2" style="position: relative;">
          <label for="endDate" style="position: absolute; top: -25px; margin-left: 3px; margin-bottom: 5px;">End Date :</label>
          <input id="endDate" type="date" class="form-control" formControlName="endDate" placeholder="Date">
        </div>
        <div class="form-group col-lg-2" style="position: relative;">
          <label for="filterUser" style="position: absolute; top: -25px; margin-left: 3px; margin-bottom: 5px;">User :</label>
          <select id="filterUser" class="form-control custom-select" formControlName="userId">
            <option value="" disabled>Select a user</option>
            <option *ngFor="let user of users" [value]="user._id">
              {{ user.name }}
            </option>
          </select>
        </div>
        <div class="form-group col-lg-2" style="position: relative;">
          <label for="filterTransactionType" style="position: absolute; top: -25px; margin-left: 3px; margin-bottom: 5px;">Type :</label>
          <select id="filterTransactionType" class="form-control" formControlName="transactionType">
            <option value="" disabled selected>Select Type</option>
            <option value="Credit">Credit</option>
            <option value="Debit">Debit</option>
          </select>
        </div>
        <div class="col-lg-4 d-flex align-items-end">
          <button type="submit" class="btn btn-primary w-100 me-2">Filter</button>
          <button type="button" class="btn btn-primary w-100 me-2" (click)="onReset()">Reset</button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 mb-3 mt-3" *ngIf="transactions.length > 0">
    <div class="card shadow border-0" style="background-color: #f8f9fa;">
      <div class="card-body d-flex justify-content-between align-item-center">
        <h5 class="card-title font-weight-bold mb-3">Total Transactions</h5>
        <p class="card-text text-success">Current User: <span class="text-black">{{  currentUserName }}</span></p>
        <p class="card-text text-success">Total Amount: <span class="text-black">{{ totalTransactionAmount | currency }}</span></p>
             <button (click)="toggleTableVisibility()" class="btn btn-primary btn-sm">
          {{ isTableVisible ? 'Hide List' : 'View List' }}
        </button>
      </div>
    </div>
  </div>

  <div class="table-responsive mb-3" *ngIf="isTableVisible">
    <table class="table table-custom">
      <thead>
        <tr>
          <th scope="col">Transaction Date</th>
          <th scope="col">Transferred from</th>
          <th scope="col">Transferred To</th>
          <th scope="col">Transaction Amount</th>
          <th scope="col">Transaction Type</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions; let i = index">
          <td>{{ i + 1  }}</td>
          <td>{{ transaction.transactionDate | date:'short' }}</td>
          <td>{{ transaction.senderTransactionId?.name }}</td>
          <td>{{ transaction.receiverTransactionId?.name }}</td>
          <td>{{ transaction.transactionAmount }}</td>
          <td>{{ transaction.transactionType }}</td>
          <td>{{ transaction.note }}</td>
          <!-- <td>
            <div class="d-flex justify-content-start align-items-start">
              <div class="dropdown show">
                <a class="btn btn-primary dropdown-toggle px-4" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Actions
                </a>
                <div class="dropdown-menu text-white" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" (click)="editTransaction(transaction._id)">Edit</a>
                  <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="openDeleteModal(transaction._id)">Delete</a>
                </div>
              </div>
            </div>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-8 col-md-6 col-sm-12">
      <p><small>Total Items: {{totalRecord}}</small></p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-pagination [recordsPerPage]="recordPerPage" [totalRecords]="totalRecord" [currentPage]="currentPage"
        (pageChange)="pageChanged($event)"></app-pagination>
    </div>
  </div>
</div>

<app-delete-confirmation (onActionTaken)="deleteItem($event)"></app-delete-confirmation>