.saving-container {
    padding: 50px;
    color: #333;
  }
  
  .icon-section {
    margin-bottom: 30px;
  }
  
  .icon-item {
    margin: 0 20px;
    cursor: pointer;
  }
  
  .icon-style {
    font-size: 70px; /* Increased size */
    transition: color 0.3s ease-in-out;
  }
  
  .icon-item p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .icon-item:hover .icon-style,
  .icon-item.active .icon-style {
    color: #7f8081;
  }
  
  .divider-line {
    border-top: 2px solid #ccc; /* Increased thickness */
    margin: 20px 0;
  }
  
  .content-area {
    margin-top: 30px;
    text-align: left;
  }
  
  .content-item {
    display: block;
    font-size: 20px;
    line-height: 1.8;
  }
  
  .content-item h3 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .content-item p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
  }
  